@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #ffffff;
}

.all {
  margin-left: 100px;
  margin-right: 100px;
}

.navbar {
  background-color: #fff;
  width: 1240px;
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
  top: 50px;
}

.navbar-nav .nav-link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #234cad;
}

.auth-links a {
  text-decoration: none;
}

#login-btn {
  width: 135px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #234cad;
  background-color: #fff;
  border-style: solid;
  border-color: #234cad;
}

#signup-btn {
  background-color: #f2f6ff;
  width: 135px;
  height: 50px;
  border-radius: 25px;
  border-style: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #234cad;
}

#profile-btn {
  width: 135px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #234cad;
  background-color: #fff;
  border-style: solid;
  border-color: #234cad;
}

#logout-btn {
  background-color: #f2f6ff;
  width: 135px;
  height: 50px;
  border-radius: 25px;
  border-style: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #234cad;
}

.main-expand .container {
  background-color: #f2f6ff;
  border-radius: 60px;
  margin-top: 5%;
  margin-bottom: 1px;
}

.main-expand .container .row {
  align-items: center;
}

.main-expand .container .col h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #234cad;
}

.main-expand .container .col p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #234cad;
}

.main-expand .container .col .btn {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: 2px solid #234cad;
  border-radius: 32.5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  color: #234cad;
}

#main-image #file img {
  width: 80px;
  height: 80px;
  padding: 20px;
  margin-top: 50px;
  background-color: white;
  border-radius: 20px;
}

#main-image #up1 {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

#main-image #up1 img {
  left: 41.82%;
  right: 32.73%;
  top: 22.26%;
  bottom: 61.37%;
  background: #ffffff;
  border-radius: 20px;
}

#main-image #up1 h5 {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
  margin-left: 20px;
}

#main-image #up1 p {
  height: 21px;
  left: 0%;
  right: 42.68%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
  margin-left: 20px;
}

#main-image #up2 {
  text-align: center;
}

#main-image #up2 .divup2 {
  width: 10rem;
  background-color: white;
  border-radius: 20px;
  align-items: center !important;
  padding: 3rem 0;
}

#main-image #up2 img {
  width: 20px;
  height: 20px;
}

#main-image .up-2text p {
  height: 13px;
  left: 0.46%;
  right: 1.11%;
  top: calc(50% - 13px / 2);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #234cad;
  margin-top: 15%;
}

#team {
  left: 41.82%;
  right: 38.11%;
  top: 42.72%;
  bottom: 31.1%;
  background: #ffffff;
  border-radius: 25px;
}

#team .team-header img {
  width: 20px;
  height: 20px;
  left: 44.73%;
  right: 53.82%;
  top: 49.26%;
  bottom: 47.46%;
  margin-left: 5%;
}

#team .team-header-text h5 {
  height: 21px;
  left: 0%;
  right: 11.86%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
  margin-left: 20%;
}

#team .team-header-text p {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
  margin-left: 20%;
}

#team .team-footer span {
  height: 14px;
  left: 35%;
  right: 35%;
  top: calc(50% - 14px / 2);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
  margin-left: 5%;
}

#main-image .anna {
  display: flex;
  left: 63.84%;
  right: 63.84%;
  top: 42.72%;
  bottom: 42.72%;
  background: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#main-image .anna h1 {
  height: 24px;
  left: 28.33%;
  right: 28.33%;
  top: 0%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #234cad;
}

#main-image .anna .anna-text h5 {
  height: 21px;
  left: 0%;
  right: 38.46%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

#main-image .anna .anna-text p {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

#main-image .anna .anna-time p {
  height: 13px;
  left: 83.48%;
  right: 0%;
  top: calc(50% - 13px / 2 - 16px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
}

#main-image .smith {
  display: flex;
  left: 41.82%;
  right: 32.73%;
  top: 73%;
  bottom: 10.64%;
  background: #ffffff;
  border-radius: 25px;
}

#main-image .smith .smith-badge h1 {
  height: 21px;
  left: 0%;
  right: 54.19%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

#main-image .smith .smith-text h5 {
  height: 21px;
  left: 0%;
  right: 54.19%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

#main-image .smith .smith-text p {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

#main-image .smith .smith-time p {
  height: 13px;
  left: 80.43%;
  right: 0%;
  top: calc(50% - 13px / 2 - 16px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
}

#main-image .message-icon img {
  width: 80px;
  height: 80px;
  padding: 20px;
  margin-top: 50px;
  background-color: white;
  border-radius: 20px;
}

#main-image .save {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 70.91%;
  right: 3.64%;
  top: 63.18%;
  bottom: 20.46%;
  background: #ffffff;
  border-radius: 25px;
}

#main-image .save img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

#main-image .save .text h5 {
  height: 21px;
  left: 0%;
  right: 49.11%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

#main-image .save .text p {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

.cloud {
  margin-top: 6%;
  margin-bottom: 5%;
  color: #234cad;
}

.img {
  background-color: #f2f6ff;
  border-radius: 50%;
  padding: 2%;
  margin-left: 50px;
}

.useour .container .row .card {
  border-style: none;
}

.useour .container .row .card .card-content {
  width: 575px;
  height: 575px;
  background-color: #f2f6ff;
  border-radius: 60px;
  border-style: none;
}

.useour .container .row .card .card-content .content-1 {
  width: 438px;
  height: 125px;
  margin-top: 108px;
  margin-left: 69px;
  background-color: #ffffff;
  border-radius: 25px;
}

.useour .container .row .card .card-content .content-1 .lingkaran {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: #f2f6ff;
  margin-top: 25px;
  margin-left: 20px;
}

.useour .container .row .card .card-content .content-1 .lingkaran .lingkaran-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #234cad;
  border: 2.5px solid #ffffff;
  margin-left: 50px;
}

.useour .container .row .card .card-content .content-1 .lingkaran .lingkaran-2 p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 7px;
  line-height: 10px;
  color: #f7fafc;
}

.useour .container .row .card .card-content .content-1 .text .time {
  position: absolute;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-left: 380px;
  margin-top: 45px;
}

.useour .container .row .card .card-content .content-1 .lingkaran p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #234cad;
}

.useour .container .row .card .card-content .content-1 .text h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #234cad;
  margin-top: 50px;
  margin-left: 200px;
}

.useour .container .row .card .card-content .content-1 .text p {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #234cad;
  margin-top: 80px;
  margin-left: 240px;
}

.useour .container .row .card .card-content .content-2 {
  width: 350px;
  height: 100px;
  margin-top: 30px;
  margin-left: 113px;
  background-color: #ffffff;
  border-radius: 20px;
}

.useour .container .row .card .card-content .content-2 .lingkaran-3 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: #f2f6ff;
  margin-top: 25px;
  margin-left: 20px;
}

.useour .container .row .card .card-content .content-2 .lingkaran-3 .lingkaran-4 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #234cad;
  border: 2.5px solid #ffffff;
  margin-left: 50px;
}

.useour .container .row .card .card-content .content-2 .lingkaran-3 .lingkaran-4 p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 7px;
  line-height: 10px;
  color: #f7fafc;
}

.useour .container .row .card .card-content .content-2 .text-2 .time-2 {
  position: absolute;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-left: 300px;
  margin-top: 35px;
}

.useour .container .row .card .card-content .content-2 .lingkaran-3 p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #234cad;
}

.useour .container .row .card .card-content .content-2 .text-2 h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
  margin-top: 40px;
  margin-left: 150px;
}

.useour .container .row .card .card-content .content-2 .text-2 p {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
  margin-top: 65px;
  margin-left: 198px;
}

.useour .container .row .card .card-content .content-3 {
  width: 262px;
  height: 75px;
  margin-top: 30px;
  margin-left: 157px;
  background-color: #ffffff;
  border-radius: 15px;
}

.useour .container .row .card .card-content .content-3 .lingkaran-5 {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background-color: #f2f6ff;
  margin-top: 15px;
  margin-left: 15px;
}

.useour .container .row .card .card-content .content-3 .lingkaran-5 .lingkaran-6 {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: #234cad;
  border: 1.5px solid #ffffff;
  margin-left: 35px;
}

.useour .container .row .card .card-content .content-3 .lingkaran-5 .lingkaran-6 p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 4px;
  line-height: 6px;
  color: #f7fafc;
}

.useour .container .row .card .card-content .content-3 .text-3 .time-3 {
  position: absolute;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 10px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-left: 200px;
  margin-top: 0px;
}

.useour .container .row .card .card-content .content-3 .lingkaran-5 p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #234cad;
}

.useour .container .row .card .card-content .content-3 .text-3 h2 {
  position: absolute;
  transform: translate(130%, 100%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #234cad;
}

.useour .container .row .card .card-content .content-3 .text-3 p {
  position: absolute;
  transform: translate(60%, 200%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 16px;
  color: #234cad;
}

.useour .container .row .card .card-text {
  margin-left: 10px;
}

.useour .container .row .card .card-text h1 {
  margin-top: 20%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #234cad;
}

.useour .container .row .card .card-text p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #234cad;
}

.useour .container .row .card .card-text .get {
  width: 200px;
  height: 65px;
  border-radius: 32.5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  border-style: solid;
  background-color: #fff;
  color: #234cad;
  border-color: #234cad;
}

.increase {
  margin-top: 10%;
}

.increase #main-increase-text h1 {
  left: 0%;
  right: 64.9%;
  top: 18.78%;
  bottom: 52%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #234cad;
}

.increase #main-increase-text p {
  left: 0%;
  right: 70.77%;
  top: 52.35%;
  bottom: 38.61%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #234cad;
}

.increase #main-increase-text .btn {
  width: 200px;
  height: 65px;
  border-radius: 32.5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  border-style: solid;
  background-color: #fff;
  color: #234cad;
  border-color: #234cad;
}

.increase #main-increase-body {
  width: 575px;
  height: 575px;
  left: 465px;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #f2f6ff;
  border-radius: 60px;
}

#main-increase-body .daily-standup-bg {
  height: 160px;
  width: 276px;
  left: 565px;
  top: 100px;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 25px;
  margin-left: 25px;
}

#main-increase-body .daily-standup-header img {
  box-sizing: border-box;
  left: 56.25%;
  right: 37.98%;
  top: 20.87%;
  bottom: 68.7%;
}

#main-increase-body .daily-standup-text h5 {
  height: 21px;
  left: 0%;
  right: 11.02%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

#main-increase-body .daily-standup-text p {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

#main-increase-body .daily-standup-footer span {
  height: 14px;
  left: 32.5%;
  right: 32.5%;
  top: calc(50% - 14px / 2);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}

#main-increase-body .marketing-call-bg {
  height: 160px;
  width: 276px;
  left: 565px;
  top: 285px;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 25px;
  margin-left: 25px;
}

#main-increase-body .marketing-call-header img {
  left: 58.17%;
  right: 39.9%;
  top: 56.52%;
  bottom: 40%;
}

#main-increase-body .marketing-call-text h5 {
  height: 21px;
  left: 0%;
  right: 12.4%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

#main-increase-body .marketing-call-text p {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

#main-increase-body .marketing-call-footer span {
  height: 14px;
  left: 30%;
  right: 32.5%;
  top: calc(50% - 14px / 2);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}

#main-increase-body .presentation-bg {
  height: 160px;
  width: 276px;
  left: 565px;
  top: 470px;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 25px;
  margin-left: 25px;
}

#main-increase-body .presentation-header img {
  left: 58.17%;
  right: 39.9%;
  top: 88.7%;
  bottom: 7.83%;
}

#main-increase-body .presentation-text h5 {
  height: 21px;
  left: 0%;
  right: 16.81%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

#main-increase-body .presentation-text p {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

#main-increase-body .daily-email-bg {
  height: 160px;
  width: 276px;
  left: 866px;
  top: 100px;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 25px;
  margin-left: 25px;
}

#main-increase-body .daily-email-header img {
  left: 87.12%;
  right: 10.96%;
  top: 24.35%;
  bottom: 72.17%;
}

#main-increase-body .daily-email-text h5 {
  height: 21px;
  left: 0%;
  right: 24.37%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

#main-increase-body .daily-email-text p {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

#main-increase-body .daily-email-footer span {
  height: 14px;
  left: 30%;
  right: 30%;
  top: calc(50% - 14px / 2);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}

#main-increase-body .project-manager-bg {
  height: 160px;
  width: 276px;
  left: 866px;
  top: 285px;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 25px;
  margin-left: 25px;
}

#main-increase-body .project-manager-header img {
  left: 87.12%;
  right: 10.96%;
  top: 56.52%;
  bottom: 40%;
}

#main-increase-body .project-manager-text h5 {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

#main-increase-body .project-manager-text p {
  height: 21px;
  left: 0%;
  right: 6.9%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

#main-increase-body .project-manager-footer span {
  height: 14px;
  left: 32.5%;
  right: 32.5%;
  top: calc(50% - 14px / 2);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #234cad;
}

.trans {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #234cad;
  margin-top: 10%;
}

.teks {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #234cad;
}

.pricing {
  margin-top: 20px;
}

.title {
  padding-top: 50px;
  font-family: "Nunito";
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #234cad;
}

.pt {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Nunito;
  font-size: 16px;
  text-align: center;
  color: #234cad;
}

.pricing-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

#body_text_price1 {
  font-family: Nunito;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  color: #234cad;
}

#body_text_price2 {
  font-family: Nunito;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: #234cad;
}

.pricing-card {
  flex: 1;
  width: 380px;
  height: 380px;
  background-color: #f2f6ff;
  margin: 20px 10px;
  text-align: center;
  overflow: hidden;
  color: #ffffff;
  transition: 0.3s linear;
  border-radius: 60px;
  transition: 0.4s linear;
}

.pricing-card:hover {
  outline: none;
  box-shadow: 0 0 0 4px #234cad;
}

.pricing-card-hover {
  padding: 0px 100%;
  transition: 0.4s linear;
}

.pricing-card:hover .pricing-card-hover {
  outline: none;
  box-shadow: 0 0 0 26em #fff;
  border-color: #234cad;
}

.price {
  font-size: 56px;
  font-weight: bold;
  color: #234cad;
  margin: 20px 0;
}

.order-btn {
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  border: 3px solid #f2f6ff;
  background-color: #fff;
  color: #234cad;
  padding: 20px 80px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.4s linear;
}

.order-btn:hover {
  border-color: #234cad;
  content: "Get Sarted";
}

@media screen and (max-width: 1100px) {
  .pricing-card {
    flex: 50%;
  }
}

.sign {
  background: #f2f6ff;
  border-radius: 60px;
  margin-top: 10%;
}

.our {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #234cad;
  padding-top: 75px;
  margin-left: 336px;
  margin-right: 335px;
}

.paragraf {
  padding-top: 25px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #234cad;
}

.input {
  margin-right: 370px;
  margin-left: 370px;
}

.control {
  margin-bottom: 75px;
  height: 60px;
  width: 500px;
  left: 0px;
  top: 0px;
  border-radius: 17.5px;
  padding-left: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: #fff;
}

.btn {
  height: 60px;
  background-color: #234cad;
  color: #fff;
  border: #fff;
}

.element {
  margin-top: 100px;
  background-color: #f2f6ff;
  text-align: center;
  height: 575px;
  width: 100%;
  left: 0px;
  top: 233px;
  border-radius: 60px;
}

.col {
  margin-left: 25px;
}

.coll {
  background-color: #fff;
  margin-top: 270px;
  margin-left: 7px;
  height: 100px;
  width: 350px;
  left: 107px;
  top: 503px;
  border-radius: 25px;
  padding: 26px;
  display: flex;
}

.colll1 {
  margin-bottom: 20px;
}

.img1 {
  height: 60px;
  width: 60px;
  left: 127px;
  top: 523px;
  border-radius: 50%;
  background-color: #f2f6ff;
}

.img1 img {
  height: 20px;
  width: 17px;
  left: 149px;
  top: 543px;
  border-radius: 50%px;
  margin-top: 20px;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.mess {
  margin-left: 20px;
  width: 100%;
}

.coll h1 {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234cad;
}

.coll p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
  left: 0px;
  top: 24px;
  text-align: left;
  border-radius: nullpx;
}

.coll1 {
  margin-top: 25px;
  margin-bottom: 105px;
  margin-left: 282px;
  background-color: #fff;
  height: 75px;
  width: 75px;
  left: 382px;
  top: 628px;
  border-radius: 20px;
}

.coll1 img {
  height: 27.20516014099121px;
  width: 29.700000762939453px;
  left: 405px;
  top: 652px;
  border-radius: 0px;
  text-align: center;
  margin: 24px;
}

.row1 {
  width: 100%;
  display: flex;
}

.col1 {
  background-color: #fff;
  background-color: #fff;
  height: 75px;
  width: 75px;
  left: 382px;
  top: 628px;
  border-radius: 20px;
  margin-top: 55px;
}

.col1 img {
  text-align: center;
  margin-top: 23px;
  margin-bottom: 24px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.col2 {
  margin-left: 25px;
  margin-top: 30px;
  background-color: #fff;
  height: 100px;
  width: 350px;
  left: 583px;
  top: 263px;
  border-radius: 25px;
}

.colll2 {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.col3 {
  background-color: #fff;
  height: 160px;
  width: 276px;
  left: 482px;
  top: 388px;
  border-radius: 25px;
  margin-top: 25px;
}

.colll3 {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 2px;
}

.col4 {
  height: 100px;
  width: 350px;
  left: 783px;
  top: 388px;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 25px;
  margin-left: 25px;
}

.colll4 {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 2px;
  text-align: right;
}

.col5 {
  height: 100px;
  width: 350px;
  left: 482px;
  top: 573px;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 25px;
}



.col6 {
  height: 160px;
  width: 130px;
  left: 482px;
  top: 698px;
  border-radius: 25px;
  background-color: #fff;
  margin-top: 25px;
}

.footer {
  background-color: #fff;
  padding: 70px 0;
}

.footer .container {
  width: 941px;
  height: 166px;
  margin-left: 200px;
  margin-right: 100px;
}

.footer-col h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 49px;
  color: #234cad;
}

.footer-col p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #234cad;
}

.auth-buttons {
  border: 1px solid;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #234cad;
  opacity: 0;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  z-index: 20px;
}

.back-to-top.show {
  bottom: 20px;
  opacity: 1;
}

.back-to-top svg {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.fakeLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9999999999;
}

.spinner6 {
  position: fixed;
  width: 50px;
  height: 35px;
  top: calc(50% - 35px / 2);
  left: calc(50% - 50px / 2);
}

.spinner6 div {
  background-color: #fff;
  height: 100%;
  width: 5px;
  margin-left: 2px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner6 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner6 .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner6 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner6 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 40px;
  }

  .container {
    margin-bottom: -100px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
