@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.navbar {
  background-color: #fff;
  position: absolute;
  width: 1240px;
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
  top: 50px;

}


.navbar-nav .nav-link {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #234cad;
}

.login {
  width: 135px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #234cad;
  background-color: #fff;
  border-style: solid;
  border-color: #234cad;
}

.signup {
  background-color: #F2F6FF;
  width: 135px;
  height: 50px;
  border-radius: 25px;
  border-style: none;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #234CAD;
}


#home {
  margin-top: 100px;
  position: absolute;
  left: 0%;
  right: 9.82%;
  top: 0%;
  bottom: 5.89%;
  background: #f2f6ff;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

.h1-home {
  position: absolute;
  left: 7.27%;
  right: 65.45%;
  top: 17.68%;
  bottom: 54.83%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #234cad;
  margin-top: 30px;
}

.p-home {
  margin-top: 30px;
  position: absolute;
  left: 7.27%;
  right: 70.62%;
  top: 49.26%;
  bottom: 42.23%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #234cad;
}

.button-home {
  box-sizing: border-box;
  position: absolute;
  border: 2px solid #234cad;
  border-radius: 32.5px;
  -webkit-border-radius: 32.5px;
  -moz-border-radius: 32.5px;
  -ms-border-radius: 32.5px;
  -o-border-radius: 32.5px;
  text-align: center;
  left: 100px;
  right: 1000px;
  top: 500px;
  bottom: 150px;
}

.home-button {
  position: absolute;
  height: 36px;
  left: 20.5%;
  right: 20%;
  top: calc(50% - 36px / 2 + 0.5px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #234cad;
}

.icon-file {
  position: absolute;
  left: 41.82%;
  right: 52.73%;
  top: 5.89%;
  bottom: 81.83%;
  background: #ffffff;
  border-radius: 20px;
}

.icon-file i {
  position: absolute;
  left: 43.71%;
  right: 54.55%;
  top: 9.66%;
  bottom: 85.43%;
  background: #234cad;
}

.cloud {
  margin-top: 50%;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 5%;
  color: #234CAD;
}

.img {
  background-color:#f2f6ff ;
  border-radius: 50%;
  padding: 2%;
  margin-left: 50px;
}